body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#container {
  background-image: url("https://www.latercera.com/resizer/1SkUbUz2q3ioZWBD9hSMScuHK48=/arc-anglerfish-arc2-prod-copesa/public/T7CZM2RHKBHKZBGXE7E6JYWL6Y.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
